# Source (in case of future compilers)
/src

# Sass code and compiler map files
/static/styles/scss
/static/styles/css/*.map

# Local development files
app.py
DEVLOG.md
/static/resources/local
Tigger.dev.code-workspace
/local_scripts
/.venv
font-preview.html
/.vscode
/.github
/.git
