<div style="align-items: left">
  <p>
    <a href="https://rebrickable.com/users/Tiggerljc/"
      >Profile of Tiggerljc – Rebrickable.com</a
    >
  </p>
  <p>
    <a href="https://jigsaw.w3.org/css-validator/check/referer">
      <img
        style="border: 0; width: 88px; height: 31px"
        src="https://jigsaw.w3.org/css-validator/images/vcss-blue"
        alt="Valid CSS!" />
    </a>
  </p>
</div>
<div style="align-items: center; align-self: center">
  <p><a href="#/pages/About.html">About</a></p>
  <p><a href="#/pages/Settings.html">Settings</a></p>
  <p>&copy; 2026 Tiggerljc and Tigger Bricks. All rights reserved.</p>
</div>
<!-- Use src="https://jigsaw.w3.org/css-validator/images/vcss" for the standard CSS validation image (orange) -->
